html {
  font-size: 16px;
}
body {
  font-family: $primary-font;
  font-size: 14px;
  color: $primary;
  // color: $text-color;
  background: $background-color;
}

a {
  @extend %transition;
  text-decoration: none;
  color: $secondary;
  &:focus {
    outline: inherit;
  }
  &:active {
    outline: inherit;
    color: $secondary;
  }
  &:hover {
    color: $secondary;
  }
}
img {
  max-width: 100%;
  vertical-align: top;
}
::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $gray-text;
  opacity: 1;
}

::-moz-placeholder,
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: $gray-text;
  opacity: 1;
}

:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: $gray-text;
  opacity: 1;
}

:-moz-placeholder,
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: $gray-text;
  opacity: 1;
}

::-moz-selection {
  /* Code for Firefox */
  background: rgba(125, 188, 255, 0.6);
}

::selection {
  background: rgba(125, 188, 255, 0.6);
}

// .container {
// 	@include min-width($lg) {
// 		max-width: 1400px;
// 		padding-left: 30px;
// 		padding-right: 30px;
// 	}
// }

:focus {
  outline: none;
}

.btn {
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin-right: 6px;
  text-align: center;
  // color: $white;
  text-transform: capitalize;
  border-radius: 4px;
  transition: all ease-in-out 0.2s;
  // box-shadow: none !important;
  @extend .inline-flex, %align-center;
  @include max-width($md) {
    font-size: 14px;
    padding: 8px 15px;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &.float-right {
    margin-right: 0;
    margin-left: 6px;
  }
  .btn-icon {
    margin-right: 8px;
  }
  &.btn-primary {
    // padding: 5px 10px;
    min-height: 30px;
    background-color: $primary;
    border-color: $primary;
    &:hover {
      background-color: lighten($primary, 10%);
      border-color: lighten($primary, 10%);
    }
  }
  &.btn-secondary {
    min-height: 30px;
    background-color: $secondary;
    border-color: $secondary;
    &:hover {
      background-color: darken($secondary, 10%);
      border-color: darken($secondary, 10%);
    }
  }
  // &.btn-secondary {
  // 	min-height: 30px;
  // 	background-color: $text-color;
  // 	border-color: $text-color;
  // 	&:hover {
  // 		background-color: darken($text-color, 10%);
  // 	}
  // }

  &.btn-outline-primary {
    border-color: $secondary;
    &:hover {
      background-color: $secondary;
    }
  }
  &.btn-light {
    background-color: $light-text;
    border-color: $light-text;
    color: $dark-text;
    &:hover {
      background-color: darken($light-text, 5%);
    }
  }
  &.btn-success {
    background-color: $success;
    border-color: $success;
    &:hover {
      background-color: darken($success, 5%);
    }
  }
  // &.btn-secondary {
  // 	background-color: $light-graybg;
  // 	border-color: $light-graybg;
  // 	// color: $light-text;
  // 	&:hover, &:active {
  // 		// color: $light-text !important;
  // 		border-color: darken($light-graybg, 2%) !important;
  // 		background-color: darken($light-graybg, 2%) !important;
  // 	}
  // }
  &.btn-lg {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  &.link-btn {
    color: $text-color;
    font-weight: normal;
    padding: 8px 10px;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 3px;
    // &:hover {
    //     background-color: darken($btn-color, 5%);
    // }
  }
  &.download-btn {
    padding: 0px 8px;
    min-height: 26px;
  }
}

h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  color: $primary;
  @include max-width($sm) {
    font-size: 26px;
  }
}

h2 {
  font-size: 16px;
  font-weight: 600;
  color: $primary;
}
h3 {
  font-size: 14px;
  font-weight: 600;
  color: $primary;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: $primary;
}

p {
  color: $dark-text;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: 500;
  color: $primary;
  font-size: 14px;
  display: block;
  span {
    font-weight: 400;
    color: $gray-text;
  }
}
.form-control {
  border-radius: 0;
  border-color: $border-light;
}
select {
  &.form-control {
    -webkit-appearance: auto;
  }
}

.p-component {
  font-size: 14px;
  font-family: $primary-font;
}
.p-inputtext {
  font-family: $primary-font;
  font-size: 14px;
  color: $dark-text;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: $border-light;
}
.p-dropdown {
  border-color: $border-light;
}
.p-toast {
  z-index: 10;
}

.main-container {
  margin: 0;
  overflow: hidden;
  padding: 60px 0px 0px 260px;
  transition: all 200ms ease-in;
  width: 100%;
  &.leftmenu-hide {
    padding-left: 60px;
    .buyer-filter {
      left: 60px;
    }
    .buyer-filter-fullview {
      left: 60px;
    }
  }
}

.container-inside {
  padding: 20px 5px 20px 20px;
  width: 100%;
  // @extend .flex;
}

.container-scroll {
  height: calc(100vh - 60px);
}

.p-sidebar-mask {
  display: none !important;
}

.text-truncate-multiline {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.p-scrollpanel {
  .p-scrollpanel-bar {
    background: $secondary;
    &.p-scrollpanel-bar-y {
      width: 5px;
    }
  }
}

.p-datatable {
  .p-datatable-header {
    background: none;
    border: 0;
    margin-top: -74px;
    margin-bottom: 12px;
    padding-right: 120px;
    .table-header {
      margin-left: auto;
      width: 60%;
      z-index: 5;
      position: relative;
    }
  }
  &.investment-traker {
    .p-datatable-header {
      padding-right: 0px;
    }
  }
  .p-datatable-thead {
    tr {
      th {
        background-color: $primary !important;
        color: $white !important;
        font-size: 14px;
        font-weight: 500;
        box-shadow: none !important;
        white-space: nowrap;
        padding-top: 6px;
        padding-bottom: 8px;
        .p-sortable-column-icon {
          color: $white !important;
          font-size: 17px;
          font-family: 'Font Awesome 5 Pro';
          font-weight: 900;
          height: 9px;
          &::before {
            content: '\f0de';
          }
          &.pi-sort-amount-up-alt {
            height: 22px;
            &::before {
              content: '\f0dd';
            }
          }
        }
        &.p-highlight {
          color: lighten($secondary, 20%) !important;
          .p-sortable-column-icon {
            color: lighten($secondary, 20%) !important;
          }
        }
      }
    }
  }
  .p-datatable-wrapper {
    border-radius: 5px;
    overflow: hidden;
    overflow-x: auto;
    min-height: 120px;
    table {
      table-layout: inherit;
    }
    .p-datatable-tbody {
      tr {
        &.p-highlight {
          background: none !important;
        }
        &.p-row-odd {
          background-color: lighten($border-light, 5%) !important;
        }
        td {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          padding-top: 6px;
          padding-bottom: 6px;
        }
      }
    }
  }
  .p-paginator {
    background: none !important;
    border: none;
    padding-left: 0;
    padding-right: 0;
    .p-dropdown {
      height: auto;
    }
    .p-paginator-current {
      height: auto;
      color: $primary;
    }
    .p-paginator-element {
      // width: 28px;
      padding: 0 5px;
      text-align: center;
      min-width: 28px;
      height: 28px;
      box-shadow: none !important;
      &.p-paginator-page {
        color: $primary;
      }
      &.p-paginator-first {
        margin-left: auto;
      }
      &.p-highlight {
        background: $primary;
        color: $white;
      }
      &:hover {
        background: $primary !important;
        color: $white !important;
      }
    }
  }
  .export-btn {
    padding-left: 15px;
    padding-right: 15px;
    .dropdown-toggle {
      color: $white;
    }
    .dropdown-item {
      a {
        color: $primary;
        text-decoration: none;
        margin: -5px 0;
        display: block;
        padding: 5px 0;
      }
      &:hover {
        a {
          color: $white;
        }
      }
    }
  }
  .filter-column {
    position: relative;
    margin-right: 20px;
    .filter-btn {
      font-weight: 500;
      font-size: 14px;
      padding: 7px 10px;
      margin-right: 0;
    }
    .select-columns {
      position: absolute;
      right: 0px;
      border: none;
      background: none;
      box-shadow: none !important;
      width: 106px;
      height: 30px;
      cursor: pointer;
      .p-multiselect-label-container {
        display: none;
      }
      .p-multiselect-trigger {
        background: none;
        border: none;
        span {
          display: none;
        }
      }
    }
  }
  .table-header {
    .p-inputtext {
      max-width: 150px;
    }
    .reset-btn {
      padding: 6px 15px;
    }
  }
  .p-datatable-loading-overlay {
    height: calc(100% - 125px);
    top: 75px;
  }
}

.p-inputgroup-addon {
  border-left-color: $border-light;
  border-top-color: $border-light;
  border-bottom-color: $border-light;
}

.p-multiselect {
  border-color: $border-light;
  .p-multiselect-label {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.p-multiselect-panel {
  .dropdown-title {
    color: $primary;
    // font-size: 14px;
    margin: 0;
    padding: 8px 15px;
    h3 {
      margin: 0;
    }
  }
  .p-multiselect-items {
    .p-multiselect-item {
      &:hover {
        background: $light-graybg !important;
      }
      &.p-highlight {
        background: none;
        font-weight: 500;
        color: $primary;
      }
    }
  }
}

.p-sidebar {
  box-shadow: 0px 0px 11px rgba($black, 0.2);
}

.p-field-radiobutton {
  margin: 0 0 10px 0;
  .p-radiobutton {
    margin-right: 7px;
    height: 18px;
    width: 18px;
    .p-radiobutton-box {
      padding: 2px;
      border-width: 1px;
      width: 18px;
      height: 18px;
      border-color: darken($border-light, 10%);
      &.p-highlight {
        background: $white !important;
        border-color: $primary !important;
        .p-radiobutton-icon {
          width: 10px;
          height: 10px;
          background-color: $primary;
        }
      }
    }
  }

  label {
    margin: 0;
  }
}
.p-field-checkbox {
  margin: 0 0 10px 0;
  label {
    margin: 0;
  }
}
.p-checkbox {
  margin-right: 7px;
  width: 18px;
  height: 18px;
  .p-checkbox-box {
    height: 18px;
    width: 18px;
    border-width: 1px;
    border-color: darken($border-light, 10%);
    &.p-highlight {
      background-color: $primary;
      border-color: $primary;
    }
    .p-checkbox-icon {
      font-size: 12px;
    }
  }
}

.p-slider {
  .p-slider-range {
    background-color: $primary;
  }
  .p-slider-handle {
    border-color: $primary;
  }
}

.dropdown-menu {
  border-radius: 0;
  box-shadow: 2px 3px 10px #00000030;
}

.toast {
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 9;
  border-width: 0;
  color: #224a23;
  .toast-innercontent {
    padding: 15px 15px;
    border-radius: 3px;
    &.success {
      background: #c8e6c9;
      border-left: 5px solid #439446;
    }
    &.warn {
      background: #ffecb3;
      border-left: 5px solid #d9a300;
      color: #6d5100;
      .toast-header {
        color: #6d5100;
      }
    }
    &.error {
      background: #ffcdd2;
      border-left: 5px solid #e60017;
      color: #73000c;
      .toast-header {
        color: #73000c;
      }
    }
    @extend .flex;
    .toast-icon {
      font-size: 25px;
      margin-top: 5px;
    }
    .toast-header {
      background: none;
      border: none;
      font-weight: 600;
      font-size: 16px;
      color: #224a23;
      padding: 0 0 5px 0;
    }
    .toast-body {
      padding: 0 15px;
      font-size: 14px;
    }
    button.close {
      position: absolute;
      right: 10px;
      font-size: 30px;
      font-weight: normal;
      border: none;
      background: none;
    }
  }
}

.p-dialog {
  .p-dialog-header {
    background-color: $primary;
    color: $white;
    padding: 5px 20px;
    .popup-header {
      font-size: 18px;
      font-weight: 500;
    }
    .p-dialog-title {
      font-size: 18px;
      font-weight: 500;
    }
    .p-dialog-header-close {
      color: $white;
      width: 30px;
      height: 30px;
      .pi-times {
        font-size: 22px;
      }
    }
  }
  .p-dialog-content {
    padding: 20px;
  }
}

// LOADER :BEGIN

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dots {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dots-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
.loader-fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10001;
  .loader {
    width: 125px;
    height: 125px;
    position: relative;
    // animation: loader 2.5s infinite linear both;
    .loader-dot {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      animation: dots 2s infinite ease-in-out both;
      &:before {
        content: '';
        display: block;
        width: 25%;
        height: 25%;
        background-color: #000000;
        border-radius: 100%;
        animation: dots-before 2s infinite ease-in-out both;
      }
      &:nth-child(1) {
        animation-delay: -1.1s;
      }
      &:nth-child(2) {
        animation-delay: -1s;
      }
      &:nth-child(3) {
        animation-delay: -0.9s;
      }
      &:nth-child(4) {
        animation-delay: -0.8s;
      }
      &:nth-child(5) {
        animation-delay: -0.7s;
      }
      &:nth-child(6) {
        animation-delay: -0.6s;
      }
      &:nth-child(1):before {
        animation-delay: -1.1s;
      }
      &:nth-child(1):before {
        animation-delay: -1.1s;
      }
      &:nth-child(2):before {
        animation-delay: -1s;
      }
      &:nth-child(3):before {
        animation-delay: -0.9s;
      }
      &:nth-child(4):before {
        animation-delay: -0.8s;
      }
      &:nth-child(5):before {
        animation-delay: -0.7s;
      }
      &:nth-child(6):before {
        animation-delay: -0.6s;
      }
    }
  }
}

// LOADER :END

.menu-tooltip {
  margin-left: 0px;
  padding-left: 3px !important;
  &.p-tooltip-right {
    .p-tooltip-arrow {
      border-right-color: $white;
    }
  }
  .p-tooltip-text {
    background: $white;
    color: $primary;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
  }
}

.pagenotfound-page {
  width: 100%;
  height: 80vh;
  @extend .flex, %align-center, %justify-center;
  .inside-pagenot-found {
    text-align: center;
    .oops-sub-text {
      margin: 0 0 10px 0;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
    }
    .notfound-text {
      h4 {
        text-transform: uppercase;
        color: $gray-text;
        font-size: 20px;
        margin: 20px 0 40px 0;
      }
      .home-link {
        text-decoration: none;
        color: $white;
        i {
          font-size: 25px;
          margin-right: 10px;
        }
      }
    }
  }
}

.p-datepicker {
  .p-datepicker-header {
    padding: 5px;
  }
  table {
    font-size: 12px;
    td {
      padding: 2px;
      & > span {
        width: 26px;
        height: 26px;
      }
    }
  }
  .p-datepicker-buttonbar {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}
.datepicker {
  .p-datepicker-trigger {
    padding: 0;
    background-color: $secondary;
    border-color: $secondary;
  }
}

.p-autocomplete-item {
  white-space: normal !important;
  padding: 5px 10px !important;
  .auto-complete-item {
    margin: 0;
    padding: 0;
    width: 100%;
    @extend .flex, %align-center;
    .flag {
      min-width: 40px;
      max-width: 40px;
      max-height: 40px;
    }
    .item-text {
      margin: 0;
      padding: 0 0 0 10px;
    }
  }
}
.auto-complete {
  width: 100%;
  .p-autocomplete-multiple-container {
    width: 100%;
    align-items: flex-start;
    .p-autocomplete-token {
      font-size: 14px !important;
      padding: 2px 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      .p-autocomplete-token-icon {
        font-size: 12px;
      }
    }
    .p-autocomplete-input-token {
      padding: 1px !important;
      input {
        font-size: 14px !important;
      }
    }
  }
}

.export-btn .dropdown-toggle {
  padding-left: 10px;
  padding-right: 10px;
  &:after {
    display: none;
  }
}

.breadcrumb-item {
  text-decoration: none !important;
  position: relative;
  margin-right: 25px;
  &:after {
    content: '\e901';
    font-family: 'primeicons';
    font-size: 14px;
    color: $text-color;
    position: absolute;
    right: -25px;
    top: 9px;
    cursor: default;
  }
}

.card-section {
  .card-body {
    padding: 15px;
  }
  .card-header {
    background: $light-graybg;
    border-top: solid 3px $secondary;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
  }
  .company-information {
    // @extend .flex, %align-center;
    .company-logo {
      margin: 0 auto 0 auto;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      min-width: 70px;
      overflow: hidden;
      border: solid 1px $border-light;
      img {
        padding: 5px;
        border-radius: 50%;
      }
    }
    .company-detail {
      margin: 10px 0 0 0;
      padding: 0;
      flex: auto;
      a {
        font-size: 18px;
      }
      ul {
        list-style: none;
        margin: 10px 0 0 0;
        padding: 0;
        li {
          padding: 5px 0;
          border-top: solid 1px $border-light;
        }
        i {
          font-size: 16px;
          text-align: center;
          min-width: 18px;
          margin-right: 5px;
        }
      }
    }
  }
  .card-content {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        @extend .flex, %align-center;
        margin: 0;
        padding: 10px 0;
        border-bottom: solid 1px $border-light;
        i {
          min-width: 18px;
          font-size: 16px;
          vertical-align: middle;
          margin: 0 5px 0 0;
        }
        a {
          color: $primary;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}

.company-tabs {
  .nav-item {
    .nav-link {
      color: $primary;
      font-weight: 500;
      font-size: 13px;
      &.active {
        border-top-width: 2px;
        border-top-color: $secondary;
      }
    }
  }
}
.company-detail-row {
  @extend .flex;
  margin: 0 0 10px 0;
  padding: 0;
  .detail-label {
    font-weight: bold;
    white-space: nowrap !important;
    min-width: 170px;
    position: relative;
    &::after {
      content: ':';
      float: right;
      margin-right: 8px;
    }
  }
}

.team-members-section {
  @extend .flex, %flex-wrap;
  .team-members-block {
    width: calc(33.33% - 20px);
    margin: 0 10px 20px;
    padding: 10px;
    background: $light-graybg;
    overflow: hidden;
    border-radius: 5px;
    @extend .flex, %align-center;
    .img-circle {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 15px;
    }
    .title-content {
      a {
        font-size: 15px;
        font-weight: 500;
      }
      span {
        display: block;
        color: $gray-text;
      }
    }
  }
}

.product-badge {
  border-radius: 3px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
  &.status-completed {
    background: #c8e6c9;
    color: #256029;
  }
  &.status-faild {
    background: #ffcdd2;
    color: #c63737;
  }
  &.status-warning {
    background: #feedaf;
    color: #8a5340;
  }
  &.status-pending {
    background: #aae6ff;
    color: #0e5e80;
  }
}

.action-btn {
  .icon-btn {
    margin: 0 5px;
    color: $primary;
    font-size: 15px;
    &:hover {
      color: $secondary;
    }
    i {
      pointer-events: none;
    }
  }
  .user-icon {
    cursor: pointer;
    font-size: 15px;
    color: $secondary;
  }
}

.profile-col-1 {
  width: 30%;
  padding: 20px;
  margin-right: 20px;
  background: #fbfbfb;
  border: solid 1px #efefef;
}

.nda-sign-page {
  margin: 0;
  padding: 0;
  ul {
    list-style: none;
    counter-reset: my-awesome-counter;
    margin: 0;
    padding: 0;
    li {
      counter-increment: my-awesome-counter;
      position: relative;
      padding-left: 20px;
      &::before {
        content: counter(my-awesome-counter) '. ';
        color: $primary;
        font-weight: bold;
        position: absolute;
        left: 0;
        top: -3px;
      }
    }
  }
  p {
    b {
      color: $primary;
    }
  }
  .draw-signature {
    margin: 20px 0 0 0;
    padding: 0;
    canvas.sigCanvas {
      border: dashed 1px $text-color;
      width: 100%;
      margin-top: 10px;
      border-radius: 4px;
    }
    .btn-sm {
      min-height: 20px;
      padding: 5px 10px;
    }
  }
}
.memorandum-page {
  margin: 0;
  padding: 0;
  @extend .flex;
  .page-thumb {
    margin: 0 15px 0 0;
    padding: 0;
    width: 225px;
    min-width: 225px;
    ul {
      list-style: none;
      counter-reset: my-awesome-counter;
      margin: 0;
      padding: 0;
      li {
        counter-increment: my-awesome-counter;
        position: relative;
        padding-left: 18px;
        &::before {
          content: counter(my-awesome-counter);
          font-weight: bold;
          position: absolute;
          left: 0;
          top: 0;
          width: 18px;
          height: 18px;
          color: $white;
          text-align: center;
          background-color: $primary;
          font-size: 9px;
          line-height: 18px;
        }
      }
    }
    .thumb-block {
      border: solid 1px $border-light;
      img {
        width: 100%;
      }
    }
    .count-block {
      margin: 0;
      padding: 15px 0;
      border-bottom: solid 1px $border-light;
      @extend .flex, %justify-between;
      .count {
        border: solid 1px $primary;
        margin: 0 3px 0 0;
        padding: 0 3px 0 0;
        @extend .flex, %align-center;
        font-size: 10px;
        &:last-child {
          margin-right: 0;
        }
        span {
          font-size: 12px;
          font-weight: 500;
          background-color: $primary;
          color: $white;
          min-width: 20px;
          display: inline-block;
          text-align: center;
          margin-right: 3px;
        }
        &.pending {
          border-color: $pending;
          span {
            background-color: $pending;
            color: $primary;
          }
        }
        &.completed {
          border-color: $complete;
          span {
            background-color: $complete;
          }
        }
      }
    }
  }
  .page-detail {
    flex: auto;
    margin: 0;
    padding: 10px;
    position: relative;
    background-color: $background-color;
    .memorandum-image {
      text-align: center;
      display: inline-block;
      margin: 0 auto;
      position: relative;
    }
    .invision-dot {
      margin: 0;
      padding: 0;
      position: absolute;
      span {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        border: solid 3px $white;
        display: inline-block;
        box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.15);
        color: $white;
        cursor: pointer;
      }
      &.pending {
        span {
          background-color: $pending;
          color: $primary;
        }
      }
      &.complete {
        span {
          background-color: $complete;
        }
      }
    }
    .pagging-footer {
      position: absolute;
      width: 100%;
      bottom: -15px;
      left: 0;
      padding: 10px 0;
      background-color: $white;
      .pagging-inside {
        text-align: center;
        font-weight: 500;
        @extend .flex, %align-center, %justify-center;
        span {
          color: $text-color;
        }
        .next-prev-arrow {
          margin: 0 10px;
          cursor: pointer;
          padding: 0;
          font-size: 18px;
        }
      }
    }
  }
}
